.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  background-color: #222;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.header {
  background-color: #282c34;
  height: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
}
.navegation {
  margin-top: 10px;
  font-size: larger;
  background-color: aquamarine;
}

.main {
  padding: 20px;
  background-color: #f0f0f0;
}

.link{
  padding-left: 15px;
  color: rgb(255, 0, 170);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s, text-decoration 0.3s;
}

.link:hover{
  color: black;
  text-decoration: underline;
  
}